 header {
     background-image: url("assets/SONGO.jpg");
     width: 100%;
     height: 120px;
     border-radius: 15px;
     padding: 20px;
     position: sticky;
     position: -webkit-sticky;
     top: 0;
     z-index: 1000;
 }
 
 header h1 {
     text-align: center;
     color: white;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 240%;
     font-weight: bold;
 }
 
 header h1:hover {
     transform: scale(1.02);
     text-shadow: 0 0px 30px rgba(255, 217, 0, 0.911);
     color: gold;
 }
 
 body {
     border: 20px solid;
     border-image: url("assets/SONGO.jpg") 30 round;
     background-color: blanchedalmond;
     border-top: 5px solid;
 }
 
 header ul {
     display: flex;
     list-style: none;
     justify-content: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
     font-size: 120%;
     gap: 40px;
 }
 
 header li a {
     color: rgb(58, 110, 110);
     background-color: bisque;
     border: 2px solid rgba(255, 255, 255, 0.8);
     border-radius: 10px;
     padding: 5px;
     text-decoration: none;
     display: inline-block;
 }
 
 header li a:hover {
     color: #FF4500;
     transform: scale(1.2);
 }
 
 header li a:active {
     background-color: gold;
 }
 
 div {
     display: flex;
     gap: 10px;
 }
 
 div section {
     max-width: 75%;
 }
 
 .container {
     margin-top: 5px;
     margin-left: 30px;
     position: relative;
     width: 40%;
     height: 950px;
     border: 2px solid wheat;
     box-shadow: 0 10px 30px rgba(255, 0, 0, 0.5);
     border-radius: 15px;
 }
 
 section {
     border: 2px solid white;
     border-radius: 15px;
     box-shadow: 0 10px 30px maroon;
     margin-top: 5px;
     margin-left: 5px;
     font-family: serif;
     font-size: 130%;
 }
 
 .img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 @keyframes stackfade {
     0% {
         transform: translateX(0);
         z-index: 3;
         /* En haut */
     }
     15% {
         /* La carte sort à gauche */
         transform: translateX(-10%) rotate(0deg);
         z-index: 3;
     }
     16% {
         /* Changement invisible de profondeur */
         z-index: 1;
     }
     33% {
         /* La carte revient sous la pile */
         transform: translateX(0) rotate(0deg);
         z-index: 1;
     }
     /* De 33% à 100%, l'image ne bouge plus ! 
     Elle attend que les 2 autres fassent leur tour. */
     100% {
         transform: translateX(0);
         z-index: 1;
     }
 }
 
 .img1 {
     animation: stackfade 12s infinite;
     z-index: 3;
 }
 
 .img2 {
     animation: stackfade 12s infinite;
     animation-delay: 4s;
     z-index: 2;
 }
 
 .img3 {
     animation: stackfade 12s infinite;
     animation-delay: 8s;
     z-index: 1;
 }
 
 .count {
     display: flex;
     gap: 30px;
     justify-content: center;
 }
 
 .card {
     width: 300px;
     background-color: rgba(245, 245, 220, 0.274);
     height: 250px;
     border: 5px solid wheat;
     border-radius: 10px;
     margin-top: 200px;
     margin-bottom: 100px;
     display: flex;
     flex-direction: column;
 }
 
 .card img {
     width: 100%;
     height: 130px;
     background-size: cover;
     object-fit: cover;
 }
 
 .card:hover {
     transform: scale(1.1);
     box-shadow: 0 0 30px gold;
     transition: 0.9s;
 }
 
 .card p {
     margin-top: 0;
     background-color: rgba(0, 0, 0, 0.137);
     border: 2px solid rgba(153, 205, 50, 0.233);
     border-radius: 10px;
     padding: 15px;
     font-family: "Audiowide", sans-serif;
     font-size: 100%;
 }
 
 footer {
     background-color: #323235;
     color: aliceblue;
 }
 
 .doc {
     display: flex;
     justify-content: center;
     gap: 10px;
 }
 
 .ban:hover {
     transform: scale(1.1);
 }
 
 .tox:hover {
     text-shadow: gold;
     transform: scale(1.1);
 }
 
 .canvas {
     width: 100%;
     text-align: center;
     height: 500px;
     background-image: url("assets/pexels-dongdilac-29865226.jpg");
     margin-bottom: 150px;
     object-fit: cover;
     border-radius: 10px;
 }
 
 .canvas p {
     text-align: center;
     color: white;
     margin-top: 10%;
     margin-left: 50px;
     font-family: "Audiowide", sans-serif;
     font-size: 300%;
 }
 
 .canvas:hover {
     opacity: 0.5;
 }
 
 .canvas p:hover {
     text-shadow: 10px 10px 75px gold;
 }
 
 .tournoi {
     display: flex;
     justify-content: center;
     gap: 400px;
 }
 
 .tournoi a {
     text-decoration: none;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: bold;
     font-size: 140%;
     color: white;
     background-color: rgb(21, 177, 21);
     padding: 10px;
     border-radius: 15px;
 }
 
 .tournoi a:hover {
     transform: scale(1.1);
     box-shadow: 10px 10px 25px rgb(15, 219, 15);
     transition: all 0.8s ease;
     color: red;
 }